*.py[cod]

# C extensions
*.so

# MS Win
Thumbs.db

# MacOS
.DS_Store

# Packages
*.egg
*.egg-info
dist/
build/
env/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# ====== IDEs ======

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Eclipse
.settings/
.project
.classpath

# Jetbrain PyCharm
.idea/
*.iws
/bin/
